/restic-0.9.1.tar.gz
/restic-0.9.2.tar.gz
/restic-0.9.3.tar.gz
/results_restic/
/*.src.rpm
/restic-0.9.4.tar.gz
/restic-0.9.5.tar.gz
/restic-0.9.6.tar.gz
/0001-Fix-running-tests-on-a-SELinux-enabled-system.patch
/backport-2652.patch
/0001-Upgrade-github.com-cenkalti-backoff-module.patch
/restic-0.10.0.tar.gz
/0001-Move-internal-fs.TestChdir-to-internal-test.Chdir.patch
/restic-0.12.0.tar.gz
/restic-0.12.1.tar.gz
/f1cfb97.patch
/restic-0.14.0.tar.gz